/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
  -moz-box-sizing: padding-box; /* or border-box */
  -webkit-box-sizing: padding-box; /* or border-box */
  box-sizing: padding-box; /* or border-box */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  /* Pad bottom by footer height 
  margin: 0 auto -60px;
  padding: 0 0 60px; */
  margin: 0 0 -62px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  padding: 60px 15px 0;
}
.container .credit {
  margin: 20px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

#footer > .container > p > a {
	color: black;
}
.container {
	width: 50%;
}
code {
  font-size: 80%;
}

#title-bar {
	height: 60px;
	background: black;
}

#title-text {
	color: white;
	font-size: 35px;
}

#title-author {
	color: grey;
	font-size: 20px;
	padding-top: 10px;
}

#previous, #next, #play-pause {
	float: left;
 	padding-bottom: 30px;
	padding-left: 10px;
	padding-right: 10px;

}

#previous, #next {
	padding-top: 15px;	
}

#play-pause {
	width: 80px;
}

#player {
	height: 90px;
	border-bottom: 1px solid;
}

#now-playing {
	padding-left: 200px;
	padding-top: 5px;
}

#track-name {
	font-size: 20px;
}

#track-source {
	border-top: 1px: solid;
}

#nav-side-bar {
	float: left;
	width: 100px;
	margin-left: 70px;
	position: absolute;
	top: 200px;
	left: 70px;
}

#nav-container-divider {
	float:left;
	border: 1px solid;
	position: absolute;
	top: 200px;
	left: 120px;
	width: 5px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
	background: black;
}

.nav > li > a {
	color: black;
}

#playlist {
	margin-top: 50px;
}

#playlist-meta {
	border-left: 4px solid;
}

#playlist-meta > span {
	margin-left: 10px;
}

#playlist-tracks {
	margin-top: 40px;
	height: 500px !important;
}

.list-group {
}

.playlist-track {
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
	background: black;
	border-color: black;
	border-left: none;
	border-right: none;
}

.list-group-item, .list-group-item:hover, .list-group-item:focus {
	border-left: none;
	border-right: none;
}
.list-group-item:first-child {
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}
.list-group-item:last-child {
	margin-bottom: 0;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

div {
	outline: 0;
}
