/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
  -moz-box-sizing: padding-box; /* or border-box */
  -webkit-box-sizing: padding-box; /* or border-box */
  box-sizing: padding-box; /* or border-box */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  /* Pad bottom by footer height 
  margin: 0 auto -60px;
  padding: 0 0 60px; */
  margin: 0 0 -62px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  padding: 60px 15px 0;
}
.container .credit {
  margin: 20px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

#footer > .container > p > a {
	color: black;
}
.container {
	width: 50%;
}
code {
  font-size: 80%;
}

#title-bar {
	height: 60px;
	background: black;
}

#title-text {
	color: white;
	font-size: 35px;
}

#title-author {
	color: grey;
	font-size: 20px;
	padding-top: 10px;
}

#previous, #next, #play-pause {
	float: left;
 	padding-bottom: 30px;
	padding-left: 10px;
	padding-right: 10px;
	cursor: pointer;

}

#previous, #next {
	padding-top: 15px;	
}

#play-pause {
	width: 80px;
}

#player-container {
	height: 90px;
	border-bottom: 1px solid;
}

#now-playing {
	padding-left: 200px;
	padding-top: 5px;
}

#track-name {
	font-size: 14px;
}

#track-source {
	font-size: 10px;
}

#track-source {
	border-top: 1px: solid;
}

#nav-side-bar-search {
	float: left;
	width: 230px;
	margin-left: 20px;
	position: absolute;
	top: 160px;
	left: 70px;
	height: 20px;
}

#nav-side-bar {
	float: left;
	width: 230px;
	margin-left: 20px;
	position: absolute;
	top: 220px;
	left: 70px;
	height: 400px;
}

#pre-search {
	border: 1px solid;
}

#subreddit-search {
	width: 200px;
	border: none;
	border-radius: 5px;
	text-indent: 5px;
	box-shadow:0 0 5px #666 inset; 
	height: 30px;
	line-height: 25px;
}

#subreddit-search:focus {
	outline: none;
	box-shadow:0 0 5px black inset;
}

#nav-container-divider {
	float:left;
	border: 1px solid;
	position: absolute;
	top: 200px;
	left: 120px;
	width: 5px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
	background: black;
}

.nav > li > a {
	color: black;
}

#playlist {
	margin-top: 50px;
}

#playlist-meta {
	border-left: 4px solid;
}

#playlist-meta > span {
	margin-left: 10px;
}

#playlist-tracks {
	margin-top: 40px;
	height: 300px !important;
}

.list-group {
}

.playlist-track:hover {
	background-color: #f5f5f5;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
	background: black;
	border-color: black;
	border-left: none;
	border-right: none;
}


.list-group-item > a {
	text-decoration: none;
	color: inherit;
}

.list-group-item > a {
}

.list-group-item, .list-group-item:hover, .list-group-item:focus {
	border-left: none;
	border-right: none;
}
.list-group-item:first-child {
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}
.list-group-item:last-child {
	margin-bottom: 0;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

div {
	outline: 0;
}

.icon-vimeo {
	background-image: url("../icons/vimeo-16.png");
	background-position: center center;
	display: inline-block;
	height:16px;
	width:16px; 
}

.icon-soundcloud {
	background-image: url("../icons/soundcloud.png");
	background-position: center center;
	display: inline-block;
	height:16px;
	width:16px; 
}

.track-error {
	/*border-left: 3px solid #c0392b;*/
	background-color:  #c0392b;
	filter: alpha(opacity=50);
	opacity: 0.5;
}

.ui-pnotify.custom .ui-pnotify-container {
	background-color: #404040 !important;
	background-image: none !important;
	border: none !important;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
.ui-pnotify.custom .ui-pnotify-title, .ui-pnotify.custom .ui-pnotify-text {
	font-family: Arial, Helvetica, sans-serif !important;
	text-shadow: 2px 2px 3px black !important;
	font-size: 10pt !important;
	color: #FFF !important;
	padding-left: 50px !important;
	line-height: 1 !important;
	text-rendering: geometricPrecision !important;
}
.ui-pnotify.custom .ui-pnotify-title {
	font-weight: bold;
}
.ui-pnotify.custom .ui-pnotify-icon {
	float: left;
}
.ui-pnotify.custom .picon {
	margin: 3px;
	width: 33px;
	height: 33px;
}

.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}


#navigation-end {
	position: absolute;
	top: 625px;
	width: 230px;
	float: left;
	left: 70px;
}

a, a:hover {
	color: black;
}
