<!DOCTYPE html>
{% load staticfiles %}
<html>
	<link rel="stylesheet" type="text/css" href="{% static 'vidlist/css/style.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'vidlist/font-awesome/css/font-awesome.min.css' %}" />
	<body onload="javascript:startVideo();">
		<div id="container">
    <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
		    <div id="player" style="visibility: hidden"></div>
		    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script>
      // 2. This code loads the IFrame Player API code asynchronously.
	  var tag = document.createElement('script');

	  // Let's populate arrays of videos and titles
	  var videos = new Array()
	  var titles = new Array()
	  var thumbnails = new Array()
	  {% for song in playlist %}
	  videos.push("{{song.videoid}}");
	  titles.push("{{song.title|safe}}");
	  thumbnails.push("{{song.thumbnail_url}}");
	  {% endfor %}

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

	  var player;
	  function onYouTubePlayerAPIReady() {
			  player = new YT.Player('player', {
					  height: '24',
					  width: '800',
					  videoId: '{{playlist.0.videoid}}',
					  playerVars: { 'autohide' : 0, 'rel' : 0, 'autoplay': 1, 'controls': 1, 'playlist':['{% for song in playlist %}{% if not forloop.first %}{% if not forloop.last %}{{song.videoid}},{% else %}{{song.videoid}}{% endif %}{% endif %}{% endfor %}']},
					  events: {
							  'onReady': onPlayerReady,
							  'onStateChange': onPlayerStateChange
			}
		});
	}

      // 4. The API will call this function when the video player is ready.
      function onPlayerReady(event) {
        event.target.playVideo();
      }

      // 5. The API calls this function when the player's state changes.
      var done = false;
      function onPlayerStateChange(event) {
	      if (event.data == YT.PlayerState.PLAYING && !done) {
		      setTimeout(pauseVideo, 2000);
		      done = true;
	      }
	      var num = player.getPlaylistIndex();
	      var title = titles[num];
	      document.getElementById("cur_song").innerHTML = "Playing :"+title;
		  document.getElementById("next_song").innerHTML = "Next    :"+titles[num+1];
	      document.getElementById("prev_song").innerHTML = "Previous:"+titles[num-1];
	      document.getElementById("thumbnail").innerHTML = "<img src='"+thumbnails[num]+"'></img>"
      }
      function pauseVideo() {
	      player.pauseVideo();
      }
      function playVideo() {
	      player.playVideo();
      }
      function nextVideo() {
	      player.nextVideo();
	}
	function previousVideo() {
		player.nextVideo();
	}
</script>
<br>
<div id="thumbnail"></div>
<div id="cur_song"></div>
<div id="next_song"></div>
<div id="prev_song"></div>
<br>
<!--
<a href="javascript:previousVideo();">Previous</a>
<a href="javascript:startVideo();">Play</a>
<a href="javascript:stopVideo();">Pause</a>
<a href="javascript:nextVideo();">Next</a>
-->
<i class="icon-play-sign">Play Sign</i>
<div id="buttons">
<div id="rew" onclick="javascript:previousVideo();"></div>
<div id="play" onclick="javascript:playVideo();"></div>
<div id="pause" onclick="javascript:pauseVideo();"></div>
<div id="fwd" onclick="javascript:nextVideo();" ></div>
</div> <!-- buttons -->
</div> <!-- container -->
</body>
</html>
