<!DOCTYPE html>
{% load staticfiles %}
<html>
	<link rel="stylesheet" type="text/css" href="{% static 'vidlist/css/player.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'vidlist/font-awesome/css/font-awesome.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'vidlist/bootstrap3/dist/css/bootstrap.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'vidlist/bootstrap3/dist/css/bootstrap.css' %}" />
	<link href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css"/>
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	<script src="http://w.soundcloud.com/player/api.js"></script>
	<script src="http://a.vimeocdn.com/js/froogaloop2.min.js?36191-1378685323"></script>
	<script src="{% static 'vidlist/bootstrap3/dist/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'vidlist/bootstrap3/dist/js/bootstrap.js' %}"></script>
	<script src="{% static 'vidlist/js/bootstrap-list.js' %}"></script>
	<script src="http://connect.soundcloud.com/sdk.js"></script>
	<script src="//connect.soundcloud.com/sdk.js"></script>
	<script type="text/javascript"> SC.initialize({client_id: "dab62a6ff784a2bdc938a8047675ccd0"}); </script>

	<script>
		// Global variables
		global = {};
		global.playerState = 0;
		global.curVideoId = 'videoid';
		global.curVideoSource = 'source';
		global.curVideoDuration = 0; //seconds

		{% if playlist_json %}
		//We've got a GET request. Let's load the playlist with these and possibly use the subreddit to highlight the nav.
		var videos = {{playlist_json|safe}};
		var subreddit = '{{subreddit}}';
		{% endif %}

		//Youtube IFRAME API Code.

		var tag = document.createElement('script');
		tag.src = "https://www.youtube.com/iframe_api";
		var firstScriptTag = document.getElementsByTagName('script')[0];
		firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

		var player;
		function onYouTubeIframeAPIReady() {
			player = new YT.Player('yplayer', {
				height: '1',
				width: '1',
				videoId: 'yv-Fk1PwVeU',
				events: {
					'onReady': onPlayerReady,
					'onStateChange': onPlayerStateChange,
					'onError': onError
				}
			});
		}

		function onPlayerReady(event) {
			//					event.target.playVideo();
			console.log('Youtube: Ready for requests.');
			setInterval(updatePlayerInfo, 250);
			updatePlayerInfo('youtube');
		}

		function onPlayerStateChange(event) {
			var duration;
			if (event.data == YT.PlayerState.PLAYING) {
				console.log('Youtube: Elapsed:'+player.getCurrentTime()+'. And, fraction :'+player.getVideoLoadedFraction()+'.');
				onPlaying();
				onPlay();
			}
			if (event.data == YT.PlayerState.CUED) {
				console.log('Youtube: Cued');
				duration = player.getDuration();
				onPlay();
			}
			if (event.data == YT.PlayerState.ENDED) {
				console.log('Youtube: Ended');
				onFinish();
			}
			if (event.data == YT.PlayerState.BUFFERING) {
				console.log("Youtube: Buffering.");
				onBuffering();
			}
		}

		function youtubeStopVideo() {
			player.stopVideo();
		}
		function youtubePauseVideo() {
			player.pauseVideo();
		}
		function youtubePlayVideo() {
			player.playVideo();
		}
		function youtubePlayPauseVideo() {
			var state = player.getPlayerState();	
			if (state == 1) {
				player.pauseVideo();
				} else {
				player.playVideo();
			}
		}

		function youtubeLoadVideo(videoid) {
			player.loadVideoById(videoid, 1, "default");
			console.log('Youtube: Loding video by videoid:'+videoid+'.');
			state = player.getPlayerState();
			if (typeof(state) == 'undefined') {
				//Seems to be an error
			}
		}

		function playButtonPress() {
			if ($("#play-pause i").hasClass('fw-icon-pause')) {
				play = 0;
				onPause();
			}
			else if ($("#play-pause i").hasClass('fw-icon-play')) {
				play = 1;
				onPlay();
			}
			/*
			if (play == 0) {
				console.log("Not playing ..");
				widget.play();
				} else {
				console.log("Playing, so pausing.");
				widget.pause();
			}*/
		}

		function togglePlayPause() {
			console.log("Play/Pause");
			$("#play-pause i").toggleClass("fw-icon-play fw-icon-pause"); //.button('refresh');
		}

		function setSongDuration(song, duration) {
			song.duration = duration;
		}


		$(document).ready(function() {
			console.log('In ready.');

			// Soundcloud API


			window.scWidget	= SC.Widget(document.getElementById('soundcloud-player'));
			window.scWidget.bind(SC.Widget.Events.READY, function() {
				console.log('Soundcloud: Ready for requests.');	
			});
			window.scWidget.bind(SC.Widget.Events.PLAY, function() {
				scWidget.getDuration(function(duration) {
					console.log('Soundcloud: Duration:'+duration+'.');
					setSongDuration(duration);
					onPlay();
				});
			});
			window.scWidget.bind(SC.Widget.Events.PLAY_PROGRESS, function(eventData) {
				var curPosition = -1;
				//console.log(JSON.stringify(eventData || {}));
				scWidget.getPosition(function(position) {
					console.log('Soundcloud: CurPos:'+curPosition+'.');
				});
				//				updateProgressBar(eventData);
			});
			window.scWidget.bind(SC.Widget.Events.LOAD_PROGRESS, function() {
				console.log('Soundcloud: Loading.');
				onBuffering();
			});
			window.scWidget.bind(SC.Widget.Events.PAUSE, function() {
				console.log('Soundcloud: Paused');
				onPause();
			});
			window.scWidget.bind(SC.Widget.Events.FINISHED, function() {
				console.log('Soundcloud: Finished');
				onFinish();
			});
			window.scWidget.bind(SC.Widget.Events.ERROR, function(eventData){
				console.log('Soundcloud: Error');
				console.log(JSON.stringify(eventData || {}));
			});

			// Vimeo IFRAME API Code.

			var viframe = document.getElementById('vimeo-player');
			vplayer = $f(viframe);

			// When the player is ready, add listeners for pause, finish, and playProgress
			vplayer.addEvent('ready', function() {
				console.log("Vimeo: Ready for requests.");
				vplayer.addEvent('pause', onPause);
				vplayer.addEvent('finish', onFinish);
				vplayer.addEvent('playProgress', onPlayProgress);
			
			});

			// updateDuration();

			$("#seekbar").slider(
			{
				min: 0,
				max: 100,
				step: 1,
				change: showValue

			});

			$('.navlinks').click(function() {
				text = $(this).text();
				console.log('sub-reddit:'+text);
				submit_ajax(text);
			});

			$('#progress-bar').hide();
			//					loadVimeo('73874741');
			/*
			$('#playlist').list();
			$('#playlist').on('change', function(event){
				var message = "selected index: "+event.selectedIndex+"\n"+
				"selected item: "+event.srcElement.get()[0].outerHTML;
				alert( message );
			}); */
			console.log('Done with doc.ready stuff');
		});

		// Generic event handlers

		function onPlay() {
			console.log("onPlay");
			$("#play-pause i").removeClass("fw-icon-play").addClass("fw-icon-pause"); //.button('refresh');
			playVideo(getCurrentTrackSource());
		}
		function onPause() {
			console.log("onPause: "+getCurrentTrackSource());
			$("#play-pause i").removeClass("fw-icon-pause").addClass("fw-icon-play"); //.button('refresh');
			pauseVideo(getCurrentTrackSource());
		}
		function onError() {
			$("#play-pause i").removeClass("fw-icon-pause").addClass("fw-icon-play"); //.button('refresh');
			//Alerts and stuff.
		}
		function onPlayProgress() {
		}
		function onPlaying() {
		}
		function onBuffering() {
			console.log("Buffering...");
		}
		function onFinish() {
			$("#play-pause i").removeClass("fw-icon-pause").addClass("fw-icon-play"); //.button('refresh');
			playNextTrack();
		}

		function showValue(event, ui) {
			$("#val").html(ui.value);
		}

		function updatePlayerInfo() {
		}


		// AJAX request for playlist.

		function submit_ajax(text) {
			$.ajax({
				type: 'POST',
				url: '',
				data: { 'csrfmiddlewaretoken':'{{csrf_token}}',
					'subreddit' : text,
					'limit' : 100
				},
				success: function(data, status, xhr) {
					console.log("AJAX success; status:"+status);
					console.log("data: "+data);
					$("#playlist").html(data);
				}
			});
		}

		function updateProgressBar(eventData) {
			var pbWidth = $('#progress-bar').width();
			//					var loading = eventData.loading;
			var currentPosition = eventData.currentPosition/1000;
			var relativePosition = eventData.relativePosition;
			var scrubberWidth = relativePosition*pbwidth;
			if (scrubberWidth > 0) {
				$('#scrubber').css('left', scrubberWidth+'px');
			}
			$("#time-elapsed").text("");
			$("#time-total").text("");
		}

		function stopButtonPress() {
		}

		function loadIframe(iframeName, params) {
			var $iframe = $('#' + iframeName);
			if ($iframe.length) {
				//set iframe attributes
				$iframe.attr('src', params['src']);
				$iframe.attr('width', 400);
				$iframe.attr('height', 400);
				$iframe.attr('frameborder', 'no');
				console.log('loadIframe: done');
				return false;
			}
			return true;
		}

		function loadSoundCloud (videoid) {
			console.log("loadSoundCloud: begin"+SC.get(videoid).sharing);
			var widgetIframe = document.getElementById('soundcloud-player');
			widget = SC.Widget(widgetIframe);
			var src="http://w.soundcloud.com/player/?url=https://api.soundcloud.com/"+videoid+"&show_artwork=false&liking=false&sharing=false&auto_play=false";
			//					loadIframe('soundcloud-player', {'src': src });
			widget.load(src, {
				show_artwork: false
			});
		}

		function loadSoundCloud_sdk (videoid) {
			console.log("loadSoundCloud: begin");
			SC.stream(videoid, function(sound) {
				sound.play();
			});
		}

		function stopSoundcloud() {
			var widgetIframe = document.getElementById('soundcloud-player');
			widget = SC.Widget(widgetIframe);
			widget.pause();
		}

		function startSoundcloud() {
			var widgetIframe = document.getElementById('soundcloud-player');
			widget = SC.Widget(widgetIframe);
			widget.play();
		}

		function loadVimeo(videoid) {
			srcStr = "http://player.vimeo.com/video/"+videoid+"?api=1&player_id=vimeo-player&autoplay=1";
			loadIframe('vimeo-player', {'src': srcStr});
		}

		function loadVideo(videoid, source) {
			console.log('source :'+source);	
			$(this).parent().find('.active').removeClass('active');
			$(this).addClass('active');
			global.videoid = videoid;
			if ((typeof(global.source) != undefined) && (global.source != source)) {
				console.log('Switching the source from:'+global.source+' to '+source);
				//Then we make sure we stop playing whatever's in place.
				stopVideo(global.source);	
				global.source = source;
			}	
			switch(source) {
				case 'youtube.com':
					youtubeLoadVideo(videoid);
					break;
				case 'soundcloud.com':
					loadSoundCloud(videoid);
					break;
				case 'vimeo.com':
					loadVimeo(videoid);
					break;
				default:
					break;	

			}
		}

		function stopVideo(source) {
			console.log('stopVideo: For '+source);
			switch(source) {
				case 'youtube.com':
					youtubeStopVideo();
					break;
				case 'vimeo.com':
					vplayer.api('unload');
					break;
				case 'soundcloud.com':
					stopSoundcloud();
				default:
					break;	
			}
		}

		function playVideo(source) {
			switch(source) {
				case 'youtube.com':
				youtubePlayVideo();
				break;
				case 'vimeo.com':
				vplayer.api('play');
				break;
				case 'soundcloud.com':
				playSoundcloud();
				break;
				default:
				break;
			}
		}

		function pauseVideo(source) {
			switch(source) {
				case 'youtube.com':
				youtubePauseVideo();
				break;
				case 'vimeo.com':
				vplayer.api('pause');
				break;
				case 'soundcloud.com':
				pauseSoundcloud();
				break;
				default:
				break;
			}
		}

		function getCurrentTrack() {
			return $('#playlist').find('.active');
		}

		function getCurrentTrackSource() {
			return getCurrentTrack().find('.list-group-item-text').text();
		}

		function getCurrentTrackId() {
			return getCurrentTrack().attr('id');
		}

		function playNextTrack() {
			var curTrack = $('#playlist').find('.active');
			curTrack.removeClass('active');
			var nextTrack = curTrack.next('.list-group-item')
			nextTrack.addClass('active');
			var videoid = nextTrack.attr('id');
			var source = nextTrack.find('.list-group-item-text').text();
			console.log('Next Track: '+videoid+', source: '+source);
			loadVideo(videoid, source);
		}

		function playPrevTrack() {
			var curTrack = $('#playlist').find('.active');
			curTrack.removeClass('active');
			var prevTrack = curTrack.prev('.list-group-item')
			prevTrack.addClass('active');
			var videoid = prevTrack.attr('id');
			var source = prevTrack.find('.list-group-item-text').text();
			console.log('Previous Track: '+videoid);
			loadVideo(videoid, source);
		}


		function populateList(videoElements) {
			var items = [];
			$.each(videoElements, function (key, value) {
				items.push('<a href="#" class="list-group-item">'+'<span>'+value.title+'</span></a>');
			});
			$("#playlist").append(items.join(''));
		}
	</script>
	<body>  
		<div id="wrapper"></div>
		<div id="players" style='visibility: hidden; height: 2px; width: 2px'>
			<div id="splayer">
				<iframe  id="soundcloud-player" src="http://w.soundcloud.com/player/?url=https://api.soundcloud.com/aurora-florence/forever-and-a-day&show_artwork=false&liking=false&sharing=false&auto_play=false" width='1' height='1'></iframe>
			</div>
			<div id="yplayer" >
				<div id="youtube-player"></div>
			</div>
			<div id="vplayer">
				<iframe id="vimeo-player" src="http://player.vimeo.com/video/27855315?api=1&player_id=vimeo-player" width="1" height="1" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
			</div>
		</div> <!-- players -->
		<div id="content">
			<div id="nav" class="pull-left" style-="height: 100%">
				{% csrf_token %}
				<ul class="nav nav-pills nav-stacked">
					<li><a href="#" class='navlinks' id='nav-link'>/r/jazz</a></li>
					<li><a href="#" class='navlinks' id='nav-link'>/r/blues</a></li>
					<li><a href="#" class='navlinks' id='nav-link'>/r/bluesrock</a></li>
					<li><a href="#" class='navlinks' id='nav-link'>/r/progmetal</a></li>
				</ul>
			</div>
			<div id='player-container' class=''>
			<div id='player-controls'>
					<a id="previous" class='' onclick='playPrevTrack()' href='#' style='text-decoration: none'><i class="fw-icon-step-backward fw-icon-2x"></i></a>&nbsp;&nbsp;&nbsp;
					<a id="play-pause" class='' onclick='playButtonPress()' href='#' style='text-decoration: none'><i class="fw-icon-play fw-icon-3x"></i></a>&nbsp;&nbsp;
					<a id="next" class='' onclick='playNextTrack()' href='#' style='text-decoration: none'><i class="fw-icon-step-forward fw-icon-2x"></i></a>
				</div>
				<div id='now-playing'><span> Now Playing</span><p>source</p></div>
			<!--			<div id="seekbar"></div> -->
			<!--			<span id="time-elapsed">0:00</span> -->
			<div id="progress-bar">
					<div id="scrubber" class='fw-icon-circle pull-left' style="left: 0px; color: white; margin-top: 0px;"></div>
					<!--					<div id="buffered" style="width: 0%"></div> -->
					<div id="elapsed" style="width: 0%"></div>
			</div>
			<!--			<span id="time-total">0:00</span> -->
	</div> <!-- player-container -->
	<div id='playlist' class='list'>
		{% if playlist %}
		{% include "vidlist/playlist.html" %}
		{% endif %}
	</div> <!-- playlist -->
	</div> <!-- content -->
	</div> <!-- wrapper -->
	</body>
	</html>

