<!DOCTYPE html>
{% load staticfiles %}
{% block content %}
<div id="playlist-meta"><span> {{ playlist|length }} tracks found for {{ subreddit }}.</span></div>
<div id="playlist-tracks" class="list-group" hidefocus="hidefocus">
{% for video in playlist %}
<a class="list-group-item playlist-track" id='{{video.videoid}}' onclick="loadVideo.call(this, {'videoid' : '{{video.videoid}}', 'source' : '{{video.source}}', 'title' : {% filter force_escape %}'{{video.title}}'{% endfilter %}})">
	{{video.title|safe}}
	{% if video.source == 'youtube.com' %}
		<i class="fw-icon-youtube pull-right"></i>
	{% endif %}
	{% if video.source == 'vimeo.com' %}
		<i class="icon-vimeo pull-right"></i>
	{% endif %}
	{% if video.source == 'soundcloud.com' %}
		<i class="icon-soundcloud pull-right"></i>
	{% endif %}

</a>
{% endfor %}
</div> <!-- playlist-tracks -->
{% endblock %}
